<!-- <h1>Interpulation Example</h1>
<b>
  My Name : {{ name }}
  <br>
  My Age : {{ age }}
  <br>
  Email : <input type="text" value="{{ email }}" />
  <br>
  Addition : {{ getaddition(10,30) }}
</b>
<h1>Property binding examples</h1>
<font [color]="textcolor">
My Name : <input type="text" [value]="name" >
<br>
My age : <input type="text" [value]="age" >
<br>
My Email : <input type="text" [value]="email" >
<br>
My addition : <input type="text" [value]="getaddition(10,30)">
</font>
<h1>Event Binding example</h1>
<br>
<button (click)="changename()">Name</button><br><br>
<button (click)="changeage()">Age</button><br><br>
<button (click)="changemail()">Email</button> -->


<!-- <br><br>

<h1>Two way Data Binding</h1>
Enter Your Name <input type="text" {(ngModel1)}="fname">
<br>
<b>Welcome {{fname}}</b>  -->
<!-- <app-home></app-home> -->
 <!-- <h1>Angular Structural Directives</h1>
 <button (click)="changeFlag()">Show</button>
 <div *ngIf="flag" [ngStyle]="myStyle">
  <ul>
    <li *ngFor="let vec of vehicles" (click)="setSelectedItem(vec)">{{ vec }}</li>
  </ul>
  <br>
  <b [ngClass]="myClass">You have selected : {{ selectedVehicle }}</b>
  <br>
  <div [ngSwitch]="selectedVehicle">
    <font color="blue" *ngSwitchCase="'Twowheeler'">Bike</font>
    <font color="blue" *ngSwitchCase="'ThreeWheeler'">Auto</font>
    <font color="blue" *ngSwitchCase="'FourWheeler'">Car</font>
    <font color="blue" *ngSwitchDefault>Invalid</font>
  </div>

 </div> -->

<!-- <table>
  <tr>
    <th> <a routerLink="/home">Home</a></th>
    <th> <a routerLink="/contact">Contact</a></th>
    <th> <a routerLink="/about">About Us</a></th>
  </tr>
</table>
<br>
<div>
  This is place to load a new components.
  <router-outlet></router-outlet>
</div>

<app-home></app-home>
<app-about></app-about>
<app-contact></app-contact> -->


<h1>Addition: {{sum}}</h1>
<app-child></app-child>
