/* 
h1{
    border: 2px solid black;
    border-radius: 5px;
    position: absolute;
    text-align: center;
    width: 50%;
    margin-top: 30px;
    margin-left: 40%;
    padding: 5px;
}
#content{
    
    position: absolute;
    height: 600px;
    width: 60%;
    margin-top: 100px;
    margin-left: 50px;
}
#content1{
    background-color: rgb(253, 253, 252);
    width: 100%;
    height: 599px;
}
#input{
    margin-left: 100px;
    border: 1px solid black;
}
#buttons{
    margin: 50px;
    display: inline;
    margin-bottom: 50px;
}
#tag{
    margin-left: 100px;
}
#menu{
    border: 2px solid rgb(15, 14, 14);
    margin-top: 200px;
}
.container{
    display: flex;
    position: absolute;
    float: inline-end;
} */

.data{
    margin-inline: 20px;
    padding: 50px;
}
button{
    margin-top: 40px;
    margin-inline: 10px;
}